:root {
	--color-primary: #88d6fb;
	--color-secondary: #41a0d8;
	--color-tertiary: #2f7299;
	--font-1: "Sunflower";
	--font-2: "Sunflower";
	--font-3: "Sunflower";
}

@font-face {
	font-family: var(--font-1);
	src: url("/fonts/Staatliches/Staatliches-Regular.ttf");
}

h1 {
	font-family: "Sunflower";
	font-size: 3.6rem;
	line-height: 3.6rem;
	margin-top: 1rem;
	margin-bottom: 1.8rem;
}
h2 {
	font-family: "Sunflower";
	font-size: 2.5rem;
	line-height: 2.5rem;
	margin-top: 0.6rem;
	margin-bottom: 1.2rem;
}
h3 {
	font-family: "Sunflower";
	font-size: 2.2rem;
	line-height: 2.3rem;
	margin-bottom: 0.4rem;
}
h4 {
	font-family: "Sunflower";
	font-size: 1.85rem;
	line-height: 1.85rem;
	margin-bottom: 0.8rem;
}
p {
	font-family: "Sunflower";
	font-size: 110%;
	line-height: 2rem;
	text-indent: 2rem;
	margin-bottom: 0.5rem;
}
body {
	width: 100%;
	background-color: #eee;
	max-width: 100%;
	font-family: "Mukta";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	// overflow: hidden;
}
main {
	background-color: white;
	max-width: 85rem;
	padding: 3% 6%;
	line-height: 1.3rem;

	margin: 0 auto;
}
a {
	text-decoration: none;
	color: var(--color-secondary);
}
dl {
	margin-bottom: 2.6rem;
}
dt,
dd {
	margin-top: 0.6rem;
	// margin-bottom: 1rem;
}
dd {
	margin-left: 3rem;
}
