---
import BaseLayout from '../layouts/BaseLayout.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import StyleOverview from '../components/StyleOverview.astro'
import Image from "astro-imagetools"
---
<BaseLayout>
<header ></header>
  <main>
  <styleoverview />
  <!-- example image component -->
  <image src="/src/images/trees.jpg" alt="photograph of a windy road in autumn landscape" breakpoints={[320, 520, 880, 1240]} format="webp" fallbackformat="jpeg" layout="fullwidth" />
  
  </main>
  
  <footer></footer>
</BaseLayout>
