---

---
<style lang="scss">
  header {
    width: 100%;
  }
  nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    & li {
      list-style-type: none;
      line-height: 3rem;
      font-size: 2.5rem;
      padding: 10px 20px;
    }
  }
</style>
  <header>
    <nav>
      <ul>
        <li>
        <a href="/">Home</a>
        </li>
        <li>
        <a href="/">Contact</a>
        </li>
      </ul>
    </nav>
  </header>