---
  import metadata  from "../layouts/metadata.js"
  import Image from "astro-imagetools";
---
  <div>
  <h1>
  Welcome
  </h1>
  <h2>Metadata set:</h2>
  <dl>
    <dt>title</dt>
    <dd>{metadata.title}</dd>
    <br>
    <dt>description</dt>
    <dd>{metadata.description}</dd>
  </dl>

  <h1>Header 1</h1>
  <h2>Header 2</h2>
  <h3>Header 3</h3>
  <h4>Header 4</h4>

  </div>