---
  import metadata from "./metadata.js"
  import "../styles/reset.scss"
  import "../styles/global.scss"
  import { SEO } from "astro-seo"
  // import { listen, prefetch } from "quicklink";
  const title = Astro.props.title || metadata.title || "something"
  const description = Astro.props.description || metadata.description || "descriptions of something"

  // in public directory
  const image = Astro.props.description || metadata.image || null
  const canonical = Astro.props.canonical || metadata.canonical || undefined
  const slug = Astro.props.slug || undefined
  const { colors, fonts } = metadata
---
<style global define-vars={{colors, fonts}}>
  :root {
    --color-primary-1: colors.primary1;
    --color-primary-2: colors.primary2;
    --color-primary-3: colors.primary3;
    --color-secondary-1: colors.secondary1;
    --color-secondary-2: colors.secondary2;
    --white: colors.white;
    --dark: colors.black;
    --font-primary: fonts.primary;
    --font-secondary: fonts.secondary;
    --font-tertiary: fonts.tertiary;
  }
</style>
<html lang="en">
  <head>
    <SEO title={slug ? `${title} | ${slug}` : title} description={description} />
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
<!-- Font preloading -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossOrigin />
    <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700&family=Open+Sans:wght@400;600;700&family=Sunflower:wght@300;500;700&display=swap" rel="stylesheet" />
  </head>
  <body>
  <!-- insert nav elements -->
    <slot />
  </body>
  <!-- Link prefetching library -->
  <script client:load>
    import {prefetch, listen} from 'quicklink'
    prefetch(["/.html"]);
    listen();
  </script>
</html>
