---
  import metadata from "./metadata.js"
  const title = Astro.props.title || metadata.title || "something"
  const description = Astro.props.description || metadata.description || "descriptions of something"

  // in public directory
  const image = Astro.props.description || metadata.image || "descriptions of something"

  const canonical = Astro.props.canonical || metadata.canonical || "https://website.com"

---
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{Astro.props.slug ? `${title} - ${slug}` : title}</title>
    <meta name="description" content={description}>
    <meta name=”robots” content="index, follow">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="canonical" href="https://www.website.com/page/" />
  </head>
  <body>
    <nav>
      <a href="#">Home</a>
      <a href="#">Posts</a>
      <a href="#">Contact</a>
    </nav>
    <slot />
  </body>
</html>
